 @charset "UTF-8";

	/*========== FONTES ==========*/

	@font-face {
	Font-Family: 'PIB';
	src: url("../_fonts/_Lato/Lato-Black.ttf");
	}

	@font-face {
	Font-Family: 'Slogan';
	src: url("../_fonts/_Titillium_Web/TitilliumWeb-SemiBold.ttf");
	}
	
	@font-face {
	Font-Family: 'Botão';
	src: url("../_fonts/_Lato/Lato-Bold.ttf");
	}
	
	@font-face {
	Font-Family: 'Label';
	src: url("../_fonts/_Josefin/JosefinSlab-Bold.ttf");
	}
	
	/*========== FORMATAÇÃO PADRÃO ==========*/
 
	body {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	box-sizing: border-box;
	background-color: #e5e5e5;
	} 
	
	header#cima {
	width: 100%;
	height: 650px;
	box-shadow: 3px 3px 6px #444444;
	position: relative;
	margin: -30px auto 0px auto;
	background: url("../_images/sofa.jpg") no-repeat;
	}
	
	header#cima2 {
	width: 100%;
	height: 180px;
	box-shadow: 3px 3px 6px #444444;
	position: relative;
	margin: -30px auto 0px auto;
	}
	
	div#slogan {
	margin: 10px 5px 1px 200px;
    	
	}
	
	
	h2#cor {
	font-family: PIB;
	font-size: 40px;
	text-shadow: 3px 3px 6px #777777;
    padding-top: 50px;	
	}

	h3#cor1 {
	font-family: Botão;
	font-size: 26px;
	color: #EE0000;
	margin: -25px 1px 1px 80px;
	}
	
	div#espaco {
	height: 200px;
	}
	
	div#espaco2 {
	height: 50px;
	}
	
	div#logo {
	margin: -80px 1px 1px 60px;	
	}
	
	div#options {
	margin: 30px 5px 2px 850px;	
	}
	
	a {
	color: #EE0000;
	font-size: 24px;
	font-family: Botão;
	margin: 5px;
	text-decoration: none;
	text-shadow: 2px 2px 4px #cccccc;
	}
	
	div#options a:hover {
	border-bottom: 2px #333333 solid;
	padding: 4px;
	border-radius: 5px;
	color: white;
	background-color: #CD0000;
	font-size: 24px;
	font-family: Botão;
	margin: 5px;
	text-decoration: none;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	}
	
	div#imgmenu {
	width: 128px;
	height: 128px;
	margin: 20px 2px 3px 1120px;
	}
	
	div#rdpinf {
	height: 150px;
	background: linear-gradient(to top, #2682d0, #8B0000);
	padding: 2px 2px 2px 2px;	
	}
	
	
	label#rdp {
	color: #ffffff;
	font-family: Label;
	margin: 4px 4px 8px 280px;
	}
	
	div#redesocial {
	margin: 5px 4px 2px 580px;		
	}
	
	/*========== CAIXA DE PESQUISA ==========*/
	
	h2#cxpesq {
	font-size: 34px;
	font-family: Label;
	color: #EE0000;
	margin: -120px 5px 82px 350px;
	}
	
	div#cxpesquisa {
	background-color: #EE0000;
	height: 90px;
	width: 930px;
	opacity: 0.8;
	margin: -80px 10px 4px 50px;
	padding: 20px 10px 20px 10px;
	border-radius: 10px;
	}
	
	div#centralizar {
	margin: 20px 10px 10px 10px;

	}
	
	label#nmselect {
	font-size: 22px;
	font-family: Slogan;
	color: #ffffff;
	}
	
	.interesse {
	font-size: 22px;
	font-family: Slogan;
	color: #CD0000;
	border-radius: 5px;
	}
	
	.tpimovel {
	font-size: 22px;
	font-family: Slogan;
	color: #CD0000;
	border-radius: 5px;
	}
	
	.imovel {
	font-size: 22px;
	font-family: Slogan;
	color: #CD0000;
	border-radius: 5px;
	}
	
	.btnsearch {
	border: none;
	margin: 2px 4px 2px 5px;
	padding: 10px 15px 10px 15px;
	color: #CD0000;
	background-color: #ffffff;
	opacity: 1;
	border-radius: 4px;
	font-family: Botão;
	font-size: 18px;
	}
	
	/*=================================*/
	
	
	/* Divisão pesquisa de imóveis Carrossel */
	
	div#central {
	padding: 30px 225px 0px 450px;
	border-bottom: 2px #daa520 solid;
	}
	
	div#pesquisa {
	height: 850px;	
	}
	
	label#info {
	font-size: 16px;
	color: #333333;
	font-family: Label;
	}
	
	label#imoveis {
	font-size: 36px;
	font-family: Botão;
	color: #333333;	
	padding-left: 500px;
	}
	
	/* Botões de passar e voltar Comum e Hover */
	
	.btndireito {
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 30px;
	background-color: #FF6A6A;
	}
	
	.btnesquerdo {
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 30px;
	background-color: #FF6A6A;
	}
	
	.btnesquerdo:hover {
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 30px;
	background-color: #EE0000;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	}
	
	.btndireito:hover {
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 30px;
	background-color: #EE0000;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	}
	
	/* Divisão de imóveis locação */
	
	div#textoloc {
	height: 70px;
	background-color: #333333;
	}
	
	div#locacao {
	height: 600px;
	width: 1143px;
	margin: 45px 10px 10px 75px;
	padding: 40px 10px 5px 30px;
	box-shadow: 3px 3px 4px #222222;
	background-color: #ffffff;
	}
	
	h4#loc {
	border-bottom: 2px #daa520 solid;
	color: #444444;
	font-size: 20px;
	font-family: Label;
	text-align: center;
	}
	
	div#imgloc {
	margin: -220px 10px 5px 357px;
	
 
	}
	
	div.imgclass img{
	height:245px;
    width:410px;
	}
	
	div.carousel-inner {
	 margin-left: 10px;
	}
	
	div#testecarosel{
		text-align: justify;
		margin-left: 600px;
		
	}
	
	div.carousel-inner img {
    max-width:800px;
    max-height:350px;
    margin-right: 10px;
	margin-bottom: 10px;
  
}
	
	p{
		text-align: justify;
	}
	
	div#imagem1 {
	margin: -70px 1px 1px 250px;	
	}
	
	div#info1 {
	background-color: #FF6A6A;
	height: 230px;
	width: 360px;
	margin: 5px 5px 20px 360px;
	padding: 15px 10px 10px 32px;
	border-radius: 4px;
	}
	
	.inf1 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf2 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf3 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf4 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf5 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf6 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	div#btnesq1 {
	padding: 1px;
	margin: 190px 1px 1px -20px;
	}
	
	div#btndir1 {
	padding: 1px;
	margin: -52px 1px 1px 1090px;
	}
	
	/* Divisão de imóveis venda */
	
	aside#direito {
	height: 650px;
	width: 660px;
	margin: -700px 10px 10px 680px;
	}
	
	div#venda {
	height: 600px;
	width: 483px;
	margin: 55px 10px 10px 75px;
	padding: 40px 10px 5px 30px;
	box-shadow: 3px 3px 4px #222222;
	background-color: #ffffff;	
	}
	
	h4#ven {
	border-bottom: 2px #daa520 solid;
	color: #444444;
	font-size: 20px;
	font-family: Label;	
	}
	
	div#imgven {
	margin: -220px 10px 5px 27px;	
	}
	
	div#info2 {
	background-color: #FF6A6A;
	height: 230px;
	width: 360px;
	margin: 5px 5px 20px 32px;
	padding: 15px 10px 10px 30px;
	border-radius: 4px;
	}
	
	.inf7 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf8 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf9 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf10 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf11 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	.inf12 {
	font-size: 14px; color: #444444; font-family: Label; border-bottom: 2px #daa520 solid;
	}
	
	div#btnesq2 {
	padding: 1px;
	margin: 190px 1px 1px -20px;
	}
	
	div#btndir2 {
	padding: 1px;
	margin: -52px 1px 1px 432px;
	}
	
	/*========== PADRÃO ALUGUEL E VENDA ==========*/
	
	div#lbcor {
	height: 60px;
	background-color: #222222;
	border-bottom: 2px #FF6A6A solid;
	}
	
	label#lblslogan {
	margin: 4px 2px 2px 400px;
	color: #ffffff;
	font-size: 36px;
	font-family: Botão;
	}

	div#pesquisa {
	height: 650px;
	width: 500px;
	padding: 20px 1px 1px 1px;
	}
	
	div#caixaclara {
	height: 490px;
	width: 380px;
	background-color: #cccccc;
	box-shadow: 3px 3px 4px #222222;
	margin: 20px 5px 5px 20px;
	padding: 1px 1px 5px 10px; 
	}

	div#caixaescura {
	height: 430px;
	width: 370px;
	background-color: #444444;
	border-radius: 5px;
	}
	
	h5 {
	color: #cccccc;
	font-family: Slogan;
	font-size: 20px;
	text-align: center;
	}
	
	label#cxpesq {
	font-family: Label;
	font-size: 20px;
	color: #ffffff;
	margin: 1px 1px 1px 40px;
	}
	
	#cont {
	border-radius: 5px;
	font-family: Label;
	font-size: 16px;
	text-align: center;
	}
	
	div#resultado {
	width: 900px;
	height: 670px;
	background-color: #cccccc;
	margin: -630px 4px 5px 430px;
	}
	
	/*========== PÁGINA ALUGUEL ==========*/
	
	div#cxpesq {
	
	}
	
	.btnpesquisa {
	border: none;
	border-radius: 5px;
	background-color: #777777;
	color: #fff;
	padding: 6px 6px;
	margin: 15px 5px 4px 100px;
	font-family: Botão;
	font-size: 14px;
	}
	
	/*========== PÁGINA VENDA ==========*/
	
	
	
	/*========== PÁGINA PESQUISADO ==========*/
	
	aside#imovel {
	height: 600px;
	width: 820px;
	margin: 42px 1px 1px 1px;
	background-color: #333333;
	}
		
	aside#descricao {
	height: 560px;
	width: 450px;
	background-color: #d3d3d3;
	margin: -600px 3px 10px 830px;
	padding: 25px 40px 10px 20px;
	border-radius: 3px;
	}
	
	div#detalhes {
	border-right: 2px #777777 solid;
	height: 350px;
	width: 233px;
	margin: -33px 1px 1px 1px;
	}
	
	div#dados {
	height: 350px;
	width: 240px;
	margin: -351px 1px 1px 244px;
	}
	
	div#descsup {
	height: 100px;
	width: 460px;
	margin: -10px 1px 4px 1px;
	padding: 15px 2px 2px 10px;
	border-bottom: 2px #777777 solid;
	}
	
	h3#desci {
	font-family: Descricao;
	color: #333333;
	margin: 1px 3px 1px 5px;
	}
	
	h3#desc {
	font-family: Descricao;
	color: #333333;
	text-align: center;
	}
	
	h6#options {
	font-size: 16px;
	font-family: Label;
	margin: 4px 1px 1px 20px;
	}
	
	label#code {
	font-family: Label;
	font-size: 16px;
	color: #333333;
	}
	
	div#grey {
	height: 100px;
	width: 300px;
	background-color: #d3d3d3;
	margin: 10px 1px 1px 830px;
	border-radius: 3px;
	box-shadow: 2px 2px 4px #222222;
	}
	
	div#btnopt {
	padding: 10px 5px 10px 15px;	
	}
	
	.volta {
	height: 42px;
	width: 80px;
	border: none;
	background-color: #dc143c;
	color: #ffffff;
	border-radius: 4px;
	}
	
	.imprime {
	height: 42px;
	width: 100px;
	border: none;
	background-color: #dc143c;
	color: #ffffff;
	border-radius: 4px;	
	}